body {
    background-color: #b3b5ef;
  }
  
  h1 {
    color: #494237;
    text-align: center;
  }
  h2 {
    color: 494237;
    text-align: center;
  }
  
  p {
    color: #494237;
    font-family: arial;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: 494237;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .image-container {
    position: relative;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}